link(rel='stylesheet', href='/css/lib/nprogress.css')
link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
link(rel="stylesheet", media="screen", href="/css/lib/snackbar.min.css")
link(rel='stylesheet', href='/css/lib/ripples.min.css')
link(rel='stylesheet', href='/css/lib/material-wfont.min.css')
link(rel='stylesheet', href='/css/lib/material.min.css')
link(rel='stylesheet', href='/css/lib/animate.css',id="animateCss")
